# Print

In [3]:
# string formation
name = "Devanshi"
print("%s is a manager"%name)
print("nirav is a friend of %s"%name)

Devanshi is a manager
nirav is a friend of Devanshi

# same memory is allocated for same value

In [7]:
a = 5
b = 5
print(id(a))
print(id(b))

140731342185384
140731342185384

# Data Types

In [16]:
# int
num = 5
print(num,type(num))

# float
num = 5.6
print(num,type(num))

# complex
num = 5 + 6j
print(num,type(num))

5 <class 'int'>
5.6 <class 'float'>
(5+6j) <class 'complex'>

# conversions

In [23]:
num = 5
print(num,type(num))
print(float(num), type(num))
print(complex(num),type(num))

num = 5.6
print(int(num),type(int(num)))
print(complex(num),type(complex(num)))

5 <class 'int'>
5.0 <class 'int'>
(5+0j) <class 'int'>
5 <class 'int'>
(5.6+0j) <class 'complex'>

# lists in python

A List is a collection os data.  
It can hold values of multiple data types.   
created using '[]' brackets
It is Mutable.  
It allows duplicates in it.  
It is Ordered.  

used when  
-Mutability is Required:  
-Dynamic Size:  
-Ordered Collection:  
-Common Operations:

In [60]:
# Create a list
list = [1,89,'A',"Hey",'B',7.8]
print(list)

[1, 89, 'A', 'Hey', 'B', 7.8]

In [61]:
# Access the list

# print(list[0])
# print(list[1])
# print(list[-1])

for i in list:
    print(i)

1
89
A
Hey
B
7.8

In [62]:
print(list[2:4]) 

print(list[:3])

print(list[-6:-1])

print(list[:-3])

print(list[-3:])

print(list[::2]) #skip position by 2

print(list[::-1]) #reversing list

['A', 'Hey']
[1, 89, 'A']
[1, 89, 'A', 'Hey', 'B']
[1, 89, 'A']
['Hey', 'B', 7.8]
[1, 'A', 'B']
[7.8, 'B', 'Hey', 'A', 89, 1]

In [63]:
# Length of the list
print(len(list))

6

# Functions of list

In [177]:
l1 = [1,4.5,'A',"Dev",3+4j,45]
print(l1)

[1, 4.5, 'A', 'Dev', (3+4j), 45]

In [91]:
l1.append("Nirav") #append at end of the list
print(l1)

[1, 4.5, 'A', 'Dev', (3+4j), 45, 'Nirav']

In [99]:
l1.count(1) #count the number of occurrences of a particular element

1

In [100]:
l2 = l1.copy() # copy the existing list into another list
print(l2)

[1, 4.5, 'A', 'Dev', (3+4j), 45, 'Nirav']

In [104]:
l1.extend(l2) #extend l1 by adding element of l2 in it
print(l1)

[1, 4.5, 'A', 'Dev', (3+4j), 45, 'Nirav', 1, 4.5, 'A', 'Dev', (3+4j), 45, 'Nirav', 1, 4.5, 'A', 'Dev', (3+4j), 45, 'Nirav', 1, 4.5, 'A', 'Dev', (3+4j), 45, 'Nirav', 1, 4.5, 'A', 'Dev', (3+4j), 45, 'Nirav']

In [106]:
l1.index('Dev') #chech index of particular element

3

In [113]:
l1.insert(1,'N') #insert element at given index
print(l1)

[1, 'N', 'N', 4.5, 'A', 'Dev', (3+4j), 45, 'Nirav', 1, 4.5, 1, 1, 'A', 'Dev', (3+4j), 45, 'Nirav', 1, 4.5, 'A', 'Dev', (3+4j), 45, 'Nirav', 1, 4.5, 'A', 'Dev', (3+4j), 45, 'Nirav', 1, 4.5, 'A', 'Dev', (3+4j), 45, 'Nirav']

In [116]:
l2.pop() #remove element from the last position of list
print(l2)

[1, 4.5, 'A', 'Dev', (3+4j)]

In [126]:
l1.remove("Dev") #remove given element occure at smaller position 
print(l1)

[1, 'N', 'N', 4.5, 'A', (3+4j), 45, 1, 4.5, 1, 1, 'A', (3+4j), 45, 1, 4.5, 'A', 'Dev', (3+4j), 45, 1, 4.5, 'A', 'Dev', (3+4j), 45, 1, 4.5, 'A', 'Dev', (3+4j), 45]

In [128]:
l2.reverse()
print(l2)

[1, 4.5, 'A', 'Dev', (3+4j)]

In [132]:
l3 = [99,23,4.5,10,90,0] #just work when numerical data is in the list
l3.sort()
print(l3)

[0, 4.5, 10, 23, 90, 99]

In [134]:
l1.clear() #remove all element from list and make it empty
print(l1)

[]

In [178]:
del l1 #delete whole list
# print(l1) # name 'l1' is not defined

In [147]:
#nexted list
l4 = [1,2,3,['N',56,90],"Nirav"]
print(l4)

[1, 2, 3, ['N', 56, 90], 'Nirav']

In [180]:
l4.extend([[100,300]])# add list at last position of list
print(l4)

[1, 2, 3, ['N', 56, 90], 'Nirav', [100, 300], [100, 300], [100, 300], [100, 300]]

In [186]:
exists = 3 in l4 #chech if the given element is in the list or not
print(exists)

True

In [185]:
new = l4 + [9, 10] #concate list
print(new)

[1, 2, 3, ['N', 56, 90], 'Nirav', [100, 300], [100, 300], [100, 300], [100, 300], 9, 10]

# Tuples in Python

A Tuple is a collection of data.  
It can hold values of multiple data types.   
created using '( )' brackets
It is Mutable.  
It allows duplicates in it.  
It is Ordered

used when  
-Immutability is Preferred:  
-Faster Access:  
-Fixed Size:  
-Used as Keys in Dictionaries yed.

In [191]:
tp = (1,45,67,"Dev",'N')
print(tp)

tp1 = 1,5,6,8,2 # can be created without using brackets
print(tp1)

tp2 = (42,)
print(tp2)

(1, 45, 67, 'Dev', 'N')
(1, 5, 6, 8, 2)
(42,)

In [192]:
# accessing
print(tp[1])

print(tp[1:])

print(tp[::-1])

print(tp[1:3])

45
(45, 67, 'Dev', 'N')
('N', 'Dev', 67, 45, 1)
(45, 67)

In [193]:
#concate the tuples
new = tp + tp1
print(new)

(1, 45, 67, 'Dev', 'N', 1, 5, 6, 8, 2)

In [169]:
#packing and unpacking tuples
tpl = 5,6,7,8
print(tpl) #packing

a,c,b,d = tpl
print(a,b,c,d) #unpacking

a, *ls = tpl
print(a,ls)

(5, 6, 7, 8)
5 7 6 8
5 [6, 7, 8]

In [195]:
(a,b) = (1,2) # also an example of uppacking
print(a,b)

1 2

# Function of tuples

In [171]:
tp.count(45)

1

In [175]:
tp.index('N')

4

# Sets in Python

A set is an unordered collection of unique elements.  
It is defined by enclosing a comma-separated sequence of elements within curly braces {}  
They don't allow duplicate elements.  
Their order is not guaranteed  
sets are unmutable  


use when:  
-Removing Duplicates:
Sets are ideal for removing duplicate elements from a collection. By converting a list or another iterable to a set, you automatically eliminate duplicate 

-Membership Testing:
Sets provide efficient membership testing. Checking whether an element is present in a set is faster than doing the same check in a lis  

-Set Operations:
Sets support various set operations like union, intersection, and difference, making them useful for working with distinct element  

-Mathematical Operations:
Sets are useful for performing mathematical operations, such as finding the intersection or difference between set  

-Checking for Uniqueness:
When dealing with a collection of elements and you want to ensure each element is unique, sets provide a natural choic  

-Caching and Memoization:
Sets can be used in scenarios where you need to cache or memoize function results. You can store unique function inputs or outputs in a set to avoid redundant calculation  
hon
e.s.
t.
s.

In [5]:
set = {1,2,45,67,23,"Nirav",'D',3.5}
set1 = {"Nirav",'D',3,2}
print(set)

{1, 2, 3.5, 67, 'Nirav', 45, 23, 'D'}

In [299]:
set.add("Dev") #can add anywhere in set
print(set)

{1, 2, 67, 3.5, 'D', 45, 'Dev', 23, 'Nirav'}

In [207]:
copy_set = set.copy() #copy the set 
print(copy_set)

{1, 2, 67, 3.5, 'D', 45, 'Dev', 23, 'Nirav'}

In [300]:
res = set.difference(set1) # its like A - B. remove same elements of the set
print(res)

{1, 3.5, 67, 45, 'Dev', 23}

In [301]:
set.difference_update(set1) # directly update an original set
set

{1, 23, 3.5, 45, 67, 'Dev'}

In [302]:
set.discard(67) #direct discard element of set
set

{1, 23, 3.5, 45, 'Dev'}

In [303]:
set.intersection(copy_set) #show same element of both the set

{1, 23, 3.5, 45, 'Dev'}

In [305]:
set.intersection_update(copy_set) #set with common element
set

{1, 23, 3.5, 45, 'Dev'}

In [306]:
set.isdisjoint(copy_set) #False (there is commom element) 
set.isdisjoint(set1) #True (there is no common element)

True

In [307]:
set.issubset(set1) #false (no common)
set.issubset(copy_set) #True (common element)

True

In [308]:
set1 = {1,2,3,4}
set2 = {1,2,3,4,5,6,7}
set1.issuperset(set2) #false (converse true)

False

In [309]:
set1.issubset(set2)

True

In [269]:
set1.pop() #remove any element

2

In [279]:
set1.remove(3)
set1

{1, 2}

In [310]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7}

In [311]:
set1.intersection(set2)

{1, 2, 3, 4}

In [312]:
set1.update()
set1

{1, 2, 3, 4}

In [315]:
set.symmetric_difference_update(set1) #keeping only the elements that are unique to either set
#directly modifies the original set
set1

{1, 2, 3, 4}

In [319]:
set.clear()
set

set()

In [3]:
original_list = [1, 2, 3, 1, 2, 4, 5]
unique_set = set(original_list)
print(unique_set)

{1, 2, 3, 4, 5}

In [7]:
print(3 in set1)

True

In [1]:
l1 = [1,2,3,3,4,5,34]
print(l1)
print(set(l1))

[1, 2, 3, 3, 4, 5, 34]
{1, 2, 3, 4, 5, 34}